html {
    background-color: #6a7ad3;
    color: #ffffff;
}
.wrapper {
    color: #ffffff;;
    display:flex;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: blue;
    text-align: center;

}

#avatar {
    margin: 10px 0px 10px 0px;
    border-radius: 115px;
    padding: 10px;
    border: 5px solid #ffffff;
}

header {
    margin-top: 55px;
}

header > p {
    font-size: large;
    
}
nav > ul {
    display: flex;
    justify-content: space-around;
}
ul {
    list-style: none;
    display: block;
    padding: 0px;
    margin: 0px;
}
nav > ul > li {
    display: block;
    width: 10%;
    height: 60px;
    padding: 0px;
    padding-top: 10px;
    margin: 0px;
    margin-bottom: 10px;
    border: 4px solid #bdcf1c;
    border-radius: 15px;        
    text-align:center;
    line-height: 1.5;
    background-color: #176999;
    
}
.menu{
    display: flex;
    flex-direction: column;
    width: 15%;
    text-align: center;
    gap: 10px;
}

.menu > li {
    border: 3px solid rgb(255, 255, 255);
    border-radius: 20px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 10px;
    background-color: blue;
}

#inner {
    width: 80%;
    justify-content: start;
    align-self: end;
}

nav > ul:first-child {
    margin-top: 10px;
}

img {
    display:block;
}