/*загальні налаштування*/
* {
    padding: 0px;
    margin: 0px;
}

header > h1, header > h2 {
    color: ivory;
    width: 100%;
    height: 100%;
    display: flex;
    padding: 0 10px 0 10px;
}

header {
    background-color: rgb(77, 77, 221);
    border-radius: 25px 25px 0 0;
}

html {
    min-width: 1200px;
    min-height: 800px;
    width: 170vh;
    height: 100vh;
    max-width: 2000px;
    max-height: 1000px;

    display: flex;
    justify-content: center;
}

body {
    max-width: 100%;
    min-height: 100%;
}

li > button {
    width: 100%;
    height: 100%;
}

/*---------------------------------------*/

/*GRID_LAYOT*/

.grid {
    display: grid;
}

.grid_main{
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(10, 1fr);
}

.grid_h{
    grid-template-columns: repeat(8, 12.5%);
    grid-template-rows: repeat(3, 33.33%);
}

.grid_content {
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(7, 1fr);
}

header {
    grid-column: 1 / 11;
    max-height: 100%;
}

header > h1 {
    grid-column: 2 / 7;
    grid-row: 1 / span 2;
}

header > h2 {
    grid-column: 2 / 7;
    grid-row: 3 / span 1;
}

.avatar {
    grid-area: 1 / 7 / 4 / 9;
}

.work-list {
    grid-column: 1 / 11;
}

.content {
    grid-area: 3 / 1 / 10 /11;
}

nav {
    grid-area: 1 / 1 / 8 / 4;
}

.display {
    grid-area: 1 / 4 / 8 / 11;
}

footer {
    grid-area: 10 / 1 / 11 / 11;
}


/*AVATAR STYLING*/

.avatar {
    display: flex;
    justify-self: center;
    margin: 10px 0 10px 0;
    height: 15vh;
    width: 15vh;
    border-radius: 5vh;
}

/*---------------------------------------*/

/*WORK-LIST*/
.work-list {
    display:flex;
    justify-content: space-around;
    align-items: center;
    background-color: #ecea43;
    border-radius: 0 0 25px 25px;
    margin-bottom: 10px;
}

button {
    width:15%;
    height: 50%;
    text-align: center;
    border: 3px solid #fff;
    border-radius: 10px;
    background-color: rgb(12, 12, 238);
    color: ivory;
    font-size: 14px;
    font-weight: 700;
}

button:hover{
    cursor: pointer;
}

button:active{
    box-shadow: inset 2px 2px 2px 2px #fff;
}
/*---------------------------------------*/

/*TEXT*/
/*---------------------------------------*/

/*MENU SYLING*/
nav > ul {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: start;
    height: 100%;
    list-style: none;
}

/*=============================================*/
.content {
    background-color: rgb(85, 85, 219);
    border-radius: 25px;
    max-width: 1420px;
}

iframe {
    width: 100%;
    height: 100%;
}

footer {
    display: flex;
    align-items: center;
    justify-content: center;
}

.active {
    background-color: #ecea43;
    color: rgb(85, 85, 219);
}

.display {
    background-color: #fff;
    color: black;
    padding: 10px;
    border: 2px solid black;
    border-radius: 25px;
    overflow-y: auto;
}

.report {
    max-width: 100%;
    height: 100%;
    padding: 10px;
    display:  none;
}

.report_active {
    display: block;
}

li {
    width:100%;
}

li > button {
    margin-left: 10px;
    height: 200%;
    width: 75%;
}


iframe{
    height: 100%;
}

.content {
    display: none;
}

.active_content {
    display: grid;
}